name: Build, Push to ECR & Deploy to EKS

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Placeholder Step
        run: |
          pwd
          ls -la
